@charset "utf-8";
#box{
  margin:0;  
}
#allmap {
  float: left;
  width: 85%;
  height: 600px;
  margin:0;
}
#l-map{
  height:100%;
  width:78%;
  float:left;
  border-right:2px solid #bcbcbc;
}
#r-result{
  height:100%;
  width:20%;
  float:left;
}
#option{
  float: right;
  width: 15%;
  height: 100%;
}