@charset "utf-8";
* {margin:0;padding:0;}
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {

    margin:0;
    padding:0;  
    border:0;
    font-family:Microsoft YaHei,Arial,Helvetica,sans-serif;
}
body{
  background: #C1E1F6;
}
#bar{
    background : #191A18;
    height: 25px;
    /*width: 1300px;*/
    margin-left: auto;
    margin-right: auto;/**/
}
#bar li{
    margin: 0 20px;
    float: right;
    display:inline-block;
}
#bar li a{
    color:#fff;
    text-decoration: none;
}
/**
 * 设置点击后颜色
 */
#bar li a:active{
    color:#fff;
    text-decoration: none;
}
#space{
    height: 80px;
    /*width: 1300px;*/
    margin-left: auto;
    margin-right: auto;/**/
}
#contain{
    /*width: 1300px;*/
    height: 550px;
    background: #C1E1F6;
    margin-left: auto;
    margin-right: auto;
}

#pic img{
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}