@charset "utf-8";
* {margin:0;padding:0;}
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {

    margin:0;
    padding:0;  
    border:0;
    font-family:Microsoft YaHei,Arial,Helvetica,sans-serif;
}
#bar{
    background : #191A18;
    height: 25px;
    /*width: 1300px;*/
    margin-left: auto;
    margin-right: auto;/**/
}
#bar li{
    margin: 0 20px;
    float: right;
    display:inline-block;
}
#bar li a{
    color:#fff;
    text-decoration: none;
}
/**
 * 设置点击后颜色
 */
#bar li a:active{
    color:#fff;
    text-decoration: none;
}
#space{
    background: #C1E1F6;
    height: 80px;
    /*width: 1300px;*/
    margin-left: auto;
    margin-right: auto;/**/
}
#contain{
   /* width: 1300px;*/
    height: 550px;
    background: #F5F5DC;
    margin-left: auto;
    margin-right: auto;
}
#login{
    /*margin-left: 25%;*/
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 430px;
}
#title{
    margin-top: 30px;
    background: #63C55F;
    width:400px;
    height:50px;
    margin:0 auto;
}
.inputs{
    width:270px;
    height:32px;
    margin:0 0 0 50px;
    color:#999;
    font-size:14px;
}
.sp{
    width:400px;
    height:50px;
    margin:0 auto;
}
.log_sub{   
    width: 113px;
    height: 40px;
    margin-left: 50px;
    background: #7ED12A;
    
    font-size: 20px; 
    color: white;  
    font-weight: bold;
    border-bottom: #7b9ebd 1px solid 
}
.wrong{
    color: rgb(218, 114, 114);
    margin:20px 0 0 50px;
}
._signin{
    margin-left: 162px;
    font-size: 32px; 
    color: white;  
    font-weight: bold;
}